<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <a href='/mic2' id="mainhref" onclick="javascript:event.target.port=8100">메인으로이동</a>
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="50%">
        </div>
    </div>
</div>
</body>

<script>
    var count = 0;
    
    $(function() {
        timer = setInterval( function (){
        $.ajax({
            type: 'get',
            url: '/get_result',
            contentType: "text/plain; charset=utf-8",
            success: function (result, status, xhr) {
//                 if (callback) {
//                     callback(result);
//                 }
                console.log(result);
                if(result == "성공"){
                    count += 1;
                    if(count == 2){
                        count = 0;
//                         speech("마스크가 확인되었습니다");        
                        $('#mainhref').get(0).click();
                     
                    }
     

                }
                
            },
            error: function (xhr, status, er) {
                location.reload(true);
            }
        });
    }, 2000); // 30초에 한번씩 받아온다.
    });
    
    var voices = [];

    function setVoiceList() {
        voices = window.speechSynthesis.getVoices();
    }

    setVoiceList();
    if (window.speechSynthesis.onvoiceschanged !== undefined) {
        window.speechSynthesis.onvoiceschanged = setVoiceList;
    }
    
    
    function speech(txt) {
        if (!window.speechSynthesis) {
            alert("음성 재생을 지원하지 않는 브라우저입니다. 크롬, 파이어폭스 등의 최신 브라우저를 이용하세요");
            return;
        }
        var lang = 'ko-KR';
        var utterThis = new SpeechSynthesisUtterance(txt);
        utterThis.onend = function (event) {
            console.log('end');
            $('#mainhref').get(0).click();
        };
        utterThis.onerror = function (event) {
            console.log('error', event);
        };
        var voiceFound = false;
        for (var i = 0; i < voices.length; i++) {
            if (voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) {
                utterThis.voice = voices[i];
                voiceFound = true;
            }
        }
        if (!voiceFound) {
            alert('voice not found');
            return;
        }
        utterThis.lang = lang;
        utterThis.pitch = 1;
        utterThis.rate = 1; //속도
        window.speechSynthesis.speak(utterThis);
    }
    

</script>